In [1]:
import pandas as pd
import ast

In [2]:
path = "/s/chopin/l/grad/shadaab/Documents/Journal_Twitter/data/data_sampled.csv"
df = pd.read_csv(path)

In [3]:
print(df.columns)

Index(['id_str', 'polished_text', 'user_id_str', 'user_name',
       'user_screen_name', 'user_verified', 'user_followers_count',
       'user_friends_count', 'place', 'description', 'created_at_date',
       'created_at_time', 'claim', 'city', 'full_name', 'country', 'indorg'],
      dtype='object')

In [4]:
df

,id_str,polished_text,user_id_str,user_name,user_screen_name,user_verified,user_followers_count,user_friends_count,place,description,created_at_date,created_at_time,claim,city,full_name,country,indorg
0,1358559986897481728,The covid heroes are hearing lots of cheers fr...,20348018,Mr. Mark Potts,mrmarkpotts,True,2422.0,989.0,"{'id': 'c1e1a49e92ce1ba0', 'url': 'https://api...",Off to my room to write that hit song Alone in...,2021-02-07,23:35:16,0.0,Torrance,"Torrance, CA",United States,-1
1,1321298684957609984,Fox just confirmed that Justin Turner was take...,2433283704,Julian Del Gaudio,JulianDelGaudio,True,1329.0,1354.0,"{'id': 'a592bd6ceb1319f7', 'url': 'https://api...",ÃÂÂÂSports Anchor Fox5SanDiego \n\nÃÂÂÂFo...,2020-10-28,03:52:09,1.0,San Diego,"San Diego, CA",United States,1
2,1352559610914353152,::face_with_tears_of_joy:: ::face_with_tears_...,2428463190,Jane Devonshire,janecdevonshire,True,19947.0,4024.0,"{'id': '7b3e36fd04dc5b7f', 'url': 'https://api...",MasterChef UK 2016 Champion Author Hassle Free...,2021-01-22,10:11:55,0.0,Four Marks,"Four Marks, England",United Kingdom,-1
3,1322828786015047680,So cold and quiet today.. ::hot_beverage:: hop...,227928504,Paulene So,Paulene_So,False,11340.0,99.0,"{'id': '017a4afa29d71c65', 'url': 'https://api...",Model,2020-11-01,09:12:14,0.0,Makati City,"Makati City, National Capital Region",Republic of the Philippines,-1
4,1324733704367972352,Mara le ena has been off radar since start of...,27220262,Malume Ã¯Â£Â¿,bozzie_t,False,31249.0,29349.0,"{'id': '178a87b8e2eaa375', 'url': 'https://api...",Wine ÃÂÂÂÃÂÂÂand Coffee ÃÂÂÃÂÂÃÂÂÃÂÂamateur Ã...,2020-11-06,15:21:42,1.0,Sandton,"Sandton, South Africa",South Africa,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1335767224586407936,Wishing the first gentleman and well and a sp...,880164842346356740,Representative Julie McCluskie,McCluskieforCO,True,1916.0,1674.0,"{'id': '00dfedc95def9e04', 'url': 'https://api...",Colorado Representative for House District 61,2020-12-07,02:04:58,0.0,Keystone,"Keystone, CO",United States,1
9996,1321356128710774786,Hope u catch covid,1000249528820404224,CÃÂÃ¡Â´ÂÃ¡Â´ÂÃÂªÃ¡Â´ÂÃ¡Â´ÂÃÂÃÂÃÂ ...,UnbalancedMemes,False,64095.0,6100.0,"{'id': '5b756a1991aa8648', 'url': 'https://api...",ÃÂÂÂÃÂÂÂÃÂÂÂÃÂÂÂÃÂÂÂÃÂÂÂ ÃÂÂÂÃÂÂÂÃÂÂÂ³ÃÂÂÂ ÃÂÂ...,2020-10-28,07:40:25,0.0,Oswestry,"Oswestry, England",United Kingdom,-1
9997,1337507193109753856,Militarygrade camera shows risks of airborne c...,35203319,Evan Kirstel #RemoteWork,EvanKirstel,False,294469.0,274923.0,"{'id': 'db6cee8d55fe4a29', 'url': 'https://api...",B2B ÃÂÂInfluencerÃÂÂ helping Tech clients w So...,2020-12-11,21:18:59,1.0,Nashua,"Nashua, NH",United States,1
9998,1337381087115296769,"Having got mild symptoms,i isolated myself fro...",76660610,Paras Khadka,paras77,True,185683.0,252.0,"{'id': 'f1d3a53f8a3cc7e9', 'url': 'https://api...",ItÃÂÂs Now or Never Be the difference,2020-12-11,12:57:53,0.0,Nepal,Nepal,Nepal,-1
9999,1403980748521193472,Registered via your site at the start. We are...,107177163,Huise tussen Spore,deoudehuize,False,10590.0,5892.0,"{'id': 'dd9c0d7d7e07eb49', 'url': 'https://api...",Living in Kameel \nStoepstorie photos about o...,2021-06-13,07:41:09,0.0,South Africa,South Africa,South Africa,-1

In [6]:
# df_sample = df.sample(n=10000)
# df_sample

,id_str,polished_text,user_id_str,user_name,user_screen_name,user_verified,user_followers_count,user_friends_count,place,description,created_at_date,created_at_time,claim,city,full_name,country
47033,1358559986897481728,The covid heroes are hearing lots of cheers fr...,20348018,Mr. Mark Potts,mrmarkpotts,True,2422.0,989.0,"{'id': 'c1e1a49e92ce1ba0', 'url': 'https://api...","Off to my room to write that hit song, ""Alone ...",2021-02-07,23:35:16,0.0,Torrance,"Torrance, CA",United States
47081,1321298684957609984,Fox just confirmed that Justin Turner was take...,2433283704,Julian Del Gaudio,JulianDelGaudio,True,1329.0,1354.0,"{'id': 'a592bd6ceb1319f7', 'url': 'https://api...",ðSports Anchor @Fox5SanDiego \n\nðF...,2020-10-28,03:52:09,1.0,San Diego,"San Diego, CA",United States
49393,1352559610914353152,::face_with_tears_of_joy:: ::face_with_tears_...,2428463190,Jane Devonshire,janecdevonshire,True,19947.0,4024.0,"{'id': '7b3e36fd04dc5b7f', 'url': 'https://api...",MasterChef UK 2016 Champion. Author Hassle Fre...,2021-01-22,10:11:55,0.0,Four Marks,"Four Marks, England",United Kingdom
12033,1322828786015047680,So cold and quiet today.. ::hot_beverage:: hop...,227928504,Paulene So,Paulene_So,False,11340.0,99.0,"{'id': '017a4afa29d71c65', 'url': 'https://api...",Model,2020-11-01,09:12:14,0.0,Makati City,"Makati City, National Capital Region",Republic of the Philippines
63885,1324733704367972352,Mara le ena has been off radar since start of...,27220262,Malume ï£¿,bozzie_t,False,31249.0,29349.0,"{'id': '178a87b8e2eaa375', 'url': 'https://api...",Wine ð·ð·and Coffee âï¸âï¸amateur | ...,2020-11-06,15:21:42,1.0,Sandton,"Sandton, South Africa",South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,1335767224586407936,Wishing the first gentleman and well and a sp...,880164842346356740,Representative Julie McCluskie,McCluskieforCO,True,1916.0,1674.0,"{'id': '00dfedc95def9e04', 'url': 'https://api...",Colorado Representative for House District 61.,2020-12-07,02:04:58,0.0,Keystone,"Keystone, CO",United States
47525,1321356128710774786,Hope u catch covid,1000249528820404224,CÊá´á´Éªá´á´ÊÊÊ UÉ´Êá´Êá´É´á´á´á...,UnbalancedMemes,False,64095.0,6100.0,"{'id': '5b756a1991aa8648', 'url': 'https://api...",ðð¶ð¯ð¥ð¦ð¦ ðð°ð³ð¯ ð...,2020-10-28,07:40:25,0.0,Oswestry,"Oswestry, England",United Kingdom
10044,1337507193109753856,Militarygrade camera shows risks of airborne c...,35203319,Evan Kirstel #RemoteWork,EvanKirstel,False,294469.0,274923.0,"{'id': 'db6cee8d55fe4a29', 'url': 'https://api...",#B2B âInfluencerâ helping #Tech clients w ...,2020-12-11,21:18:59,1.0,Nashua,"Nashua, NH",United States
9773,1337381087115296769,"Having got mild symptoms,i isolated myself fro...",76660610,Paras Khadka,paras77,True,185683.0,252.0,"{'id': 'f1d3a53f8a3cc7e9', 'url': 'https://api...",Itâs Now or Never.!! Be the difference....,2020-12-11,12:57:53,0.0,Nepal,Nepal,Nepal
4969,1403980748521193472,Registered via your site at the start. We are...,107177163,Huise tussen Spore,deoudehuize,False,10590.0,5892.0,"{'id': 'dd9c0d7d7e07eb49', 'url': 'https://api...",Living in Kameel \n#Stoepstorie & photos about...,2021-06-13,07:41:09,0.0,South Africa,South Africa,South Africa

In [7]:
df_sample.to_csv('/s/chopin/l/grad/shadaab/Documents/Journal_Twitter/data/data_sampled.csv', index=False)

In [12]:
print(df['place'][0])

{'id': '3797791ff9c0e4c6', 'url': 'https://api.twitter.com/1.1/geo/id/3797791ff9c0e4c6.json', 'place_type': 'city', 'name': 'Toronto', 'full_name': 'Toronto, Ontario', 'country_code': 'CA', 'country': 'Canada', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-79.639319, 43.403221], [-79.639319, 43.855401], [-78.90582, 43.855401], [-78.90582, 43.403221]]]}, 'attributes': {}}

In [13]:
# Function to extract place, city, and country from the 'place' column
def extract_place_info(place_str):
    try:
        # Convert the string to a dictionary
        place_dict = ast.literal_eval(place_str)
        
        # Extract the values for city, full_name, and country
        city = place_dict.get('name')
        full_name = place_dict.get('full_name')
        country = place_dict.get('country')
        
        return pd.Series([city, full_name, country])
    except (ValueError, SyntaxError):
        # Return None if the parsing fails
        return pd.Series([None, None, None])

# Apply the extraction function to the 'place' column and create new columns
df[['city', 'full_name', 'country']] = df['place'].apply(extract_place_info)
# Print the updated DataFrame with the new columns
print(df[['city', 'full_name', 'country']])

               city                             full_name  \
0           Toronto                      Toronto, Ontario
1       Quezon City  Quezon City, National Capital Region
2          Columbus                          Columbus, OH
3          Coventry                     Coventry, England
4      Samut Prakan                Samut Prakan, Thailand
...             ...                                   ...
68620     Baltimore                         Baltimore, MD
68621   Chevy Chase                       Chevy Chase, MD
68622    Seton Hill                 Seton Hill, Baltimore
68623        Eugene                            Eugene, OR
68624        Surrey              Surrey, British Columbia

                           country
0                           Canada
1      Republic of the Philippines
2                    United States
3                   United Kingdom
4                         Thailand
...                            ...
68620                United States
68621                United States
68622                United States
68623                United States
68624                       Canada

[68625 rows x 3 columns]

In [15]:
# Save the modified DataFrame to the same CSV file
df.to_csv('/s/chopin/l/grad/shadaab/Documents/Journal_Twitter/data/data.csv', index=False)